##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
#############################
## IntelliJ
#############################
.idea
/out
/shelf/
/.idea/workspace.xml
/target